/* @import "../omarchy/current/theme/waybar.css"; */

* {
    /* background-color: @background; */
    /* color: @foreground; */
    opacity: 0.9;
    border: none;
    border-radius: 8pt;
    min-height: 0;
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 17px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar:hover{
    opacity: 1;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    padding: 0 10px;
    margin: 0 2.5px;
    min-width: 9px;
    background-color: #000000;
    /* color: #1e1e1e; */
    border-radius: 4pt;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.empty {
    opacity: 0.3;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
    /* background-color: #cba6f7; */
}

#tray,
#cpu,
#memory,
#temperature,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
    opacity: 0.9;
    min-width: 12px;
    margin: 0 2.5px;
}

#custom-omarchy{
    all: initial;
    padding: 0 10px;
    margin: 0 2.5px;
    opacity: 0.9;
    min-width: 12px;
    background-color: #000000;
    /* color: #1e1e1e; */
    border-radius: 4pt;
    box-shadow: inset 0 -3px transparent;
}

#custom-omarchy:hover{
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    /* background-color: #cdd6f4; */
    background-color: #cba6f7;
}

#workspaces {
  background-color: transparent;
}

#bluetooth{
    color: #222222;
    background-color: #76a6f7;
}

#pulseaudio{
    color: #222222;
    background-color: #cccccc;
}

#custom-update {
    font-size: 10px;
}

#clock {
    font-family: JetBrainsMono Nerd Font;
    color: #222222;
    background-color: #cba6f7;
    margin-left: 8.75px;
    opacity: 0.9;
}

#network {
    color: #222222;
    background-color: #84ff85;
    padding-right: 17px;
}


#temperature{
    background-color: #cba6f7;
    color: #222222;
}

#memory{
    color: #e0f0f0;
    background-color: #292929;
    border: 1px solid white;
}

#cpu{
    color: #222222;
    background-color: #fab387;
}

#battery {
    color: #222222;
    background-color: #f38ba8;
}

#battery.charging {
    background-color: #a6e3a1;
    color: #181825;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ff0000;
    color: #FFFF00;
}

#custom-expand-icon {
    margin-right: 7px;
}

tooltip {
    padding: 2px;
}


.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}
